# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science.
- Explain commonly used libraries by Data Scientists.
- Demonstrate usage of Jupyter Notebook for data analysis.
- Showcase basic arithmetic calculations in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. PyTorch

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| VS Code           |

## Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
Mintohrs = 200/60
print(Mintohrs)

3.3333333333333335

## Author
Manhar